@{ Layout = null;}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Образовни Информатор</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v2.0.0
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
         #header.header-scrolled {
           background:  rgb(123, 87, 140)!important;
           height: auto;
       }
        a {
            color: #ffffff;
        }
        #header{
            height: 80px;
        transition: all 0.5s;
         z-index: 997;
         transition: all 0.5s;
         padding: 20px 0;
            background: rgb(123, 87, 140)!important
        }

            a:hover {
                color: rgba(232,227,246,0.8);
            }

       .section-title h2::after {
          background: rgba(98, 0, 121, 0.6);
       }

        .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
            color: #ffffff;
        }

        .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
            color: rgba(232,227,246,0.8);
        }

        .nav-menu a {
            color: #ffffff;
        }

            .nav-menu a:hover {
                color: rgba(232 ,227,246,0.2) !important;
            }
        #footer {
    background:rgb(123, 87, 140)!important;

    
   
        }
       
           #footer .footer-top {
               background:rgb(123, 87, 140)!important;
 
           }
            #footer .footer-newsletter {
        
        background: rgb(123, 87, 140)!important;
    }
       a.page-link {
           color: rgb(123, 87, 140) !important;
       }

       #footer .footer-newsletter form input[type="submit"] {
           background: rgb(123, 87, 140) !important;
       }
            #footer .footer-newsletter h4 {
  
            color: #fff !important;
}
       #footer .footer-top h4 {
 
         color: #fff !important;
 
}
       #footer .footer-top .footer-info h3
       {
           color: #fff!important;
       }

       #footer .footer-top .social-links a {
          background: #fff;
          color: rgb(123, 87, 140)!important;
       }
       .facts .counters span{
           color:rgb(123, 87, 140)!important
       }
    </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container">

            <div class="logo float-left">
                <h3 class="text-light"><a href="index.html"><span>  Образовни Информатор </span></a></h3>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Почетна <i class="la la-angle-down"></i></a></li>
                    <li><a href="about">О Нама</a></li>
                    <li><a href="services">Услуге </a></li>

                    <li class="drop-down">
                        <a href="#">Публикације </a>
                        <ul>

                            <li><a href="#">Часописи</a></li>

                            <li><a href="#">Друга издања</a></li>
                        </ul>
                    </li>
                    <li><a href="team.html">Наш тим</a></li>
                    <li><a href="blog.html">Чланци</a></li>
                    <li class="drop-down">
                        <a href="">Усавршавање</a>


                        <ul>
                            <li><a href="#">Саветовања и семинари</a></li>
                            <li><a href="#">Курсеви и обуке</a></li>
                            <li><a href="#">Стицање стрчних звања</a></li>
                            <li><a href="#">Вебинари</a></li>

                        </ul>


                    </li>
                    <li><a href="contact">Контакт</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>О Нама</h2>
                    <ol>
                        <li><a href="index">Почетна</a></li>
                        <li>О Нама</li>
                    </ol>
                </div>

            </div>
        </section><!-- End About Us Section -->
        <!-- ======= About Section ======= -->
        <section class="about" data-aos="fade-up">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="~/Content/assets/img/about.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <h3>→ КО СМО?</h3>
                        <p class="font-italic">
                            Предузеће „Образовни информатор“ је савремена едукативна кућа специјализована за управљање правно-економским пословањем, уз информатичку подршку. Примарни циљ нам је да адекватном применом прописа олакшамо пословање менаџменту у свим пословним системима.

                            Докази нашег успeшнoг рaдa oд oснивaњa 1990. годинe, oглeдajу сe у кoнстaнтнoj сaрaдњи сa струковним удружењима директора/менаџера, правника и економиста/рачуновођа.
                            О томе сведочи и референтна листа са више од 4.500 корисника.
                        </p>
                        <h3>→ НАШИ ПРОИЗВОДИ СУ НАША ПРЕДНОСТ</h3>
                        <ul>
                            <li><i class="icofont-check-circled"></i> Дневни консалтинг (дневне информације и инструкције и Одговори на питања телефоном и мејлом),</li>
                            <li><i class="icofont-check-circled"></i>  Стручни часописи (комплет од три часописа, који су увезани заједничким пословним обавезама организације, али уређени према контролној функцији руководилаца (топ менаџера – Подсетник за директоре, пословима правне службе – Правни саветник и економиста/рачуновођа Буџетско рачуноводство). Часописе публикујемо петнаестодневно у штампаној и електронској форми;</li>
                            <li><i class="icofont-check-circled"></i> Збирка прописа за јавни сектор (електронско издање), дневно ажурни, лако доступни путем интернета,</li>
                            <li><i class="icofont-check-circled"></i> ИН-акта за јавни сектор (збирка нормативних аката за јавни сектор (ажурирање са новим прописима у току периода претплате)</li>
                            <li><i class="icofont-check-circled"></i>ИН-акта „Просвета“ – збирке нормативних аката за делатност Просвете (ажурирање са новим прописима у току периода претплате)</li>
                            <li><i class="icofont-check-circled"></i> Консултације (инхаус) – уживо у трајању до 2 сата у простору Образовног информатора ии простору Корисника,</li>
                            <li><i class="icofont-check-circled"></i>  Специјални консалтинг (обављање одређених стручних послова за Корисника (израда нормативних аката, обрачуна, пројеката, завршних рачуна, пописа, вођење поступка јавних набавки, увођење и заштита информационих система),</li>
                            <li><i class="icofont-check-circled"></i> Приручници/Практикуми (правно-економска библиотека),</li>
                            <li><i class="icofont-check-circled"></i> Књиговодствени софтвери: ИНФОБУК – за директне буџетске кориснике, Х-МЕНАЏЕР – за индиректне буџетске кориснике, ИРИС – за вођење пословних књига других правних лица</li>
                            <li><i class="icofont-check-circled"></i> Обуке (радионице и курсеви);</li>
                            <li><i class="icofont-check-circled"></i>Пословни тренинзи за директоре;</li>
                        </ul>
                        <p>
                            <b> → НАШИ ПОСЛОВНИ ПАРТНЕРИ-</b> Поред струковних удружења наши партнери су претплатници из праксе, локалних самоуправа, државне управе, здравства, науке, социјалне заштите.
                            Еминентни стручњаци из правне и економске науке и праксе су такође наши стални сарадници – Канцеларије за едукацију буџетских корисника на подручју целе Србије.
                            ВАЖНИ ПАРТНЕРИ су нам и представници локалних самоуправа, као најважније карике у трансферу знања, зарад одрживог економског развоја.


                            ВАЖНИ ПАРТНЕРИ су нам и представници локалних самоуправа, као најважније карике у трансферу знања зарад одрживог економског развоја.

                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Facts Section ======= -->
        <section class="facts section-bg" data-aos="fade-up">
            <div class="container">

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">232</span>
                        <p>Клијенти</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">521</span>
                        <p>Пројекти</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">1,463</span>
                        <p>Сати подршке</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">20</span>
                        <p>Радници</p>
                    </div>

                </div>

            </div>
        </section><!-- End Facts Section -->
        <!-- ======= Our Skills Section ======= -->
        <section class="skills" data-aos="fade-up">
            <div class="container">

                <div class="section-title">
                    <h2>→ ПОСТАВИЛИ СМО ЦИЉЕВЕ ВИШЕ ОД ОСТАЛИХ</h2>
                    <p>
                        Циљ нам је да у наредном периоду, удруживањем експертских и практичних знања на територији сваке општине, преко едукативних центара, наши производи не буду шаблон у примени прописа, већ суштинска помоћ свима који желе да континуираним учењем напредују у пословању и доприносе свеукупном духовном и економском развоју..

                        <b> Наши циљеви су и циљеви надлежних институција на свим нивоима одлучивања!</b>
                    </p>
                </div>

                <@*div class="skills-content">

                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">HTML <i class="val">100%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">CSS <i class="val">90%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">JavaScript <i class="val">75%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Photoshop <i class="val">55%</i></span>
                        </div>
                    </div>

                </div>*@

            </div>
        </section><!-- End Our Skills Section -->
        <!-- ======= Tetstimonials Section ======= -->
        <section class="testimonials" data-aos="fade-up">
            <div class="container">

                <div class="section-title">
                    <h2>→ КАКО ЋЕМО МЕРИТИ РЕЗУЛТАТЕ НАШИХ ЕДУКАТИВНИХ УСЛУГА?</h2>
                    <p>• Применом објективних индикатора, који резултирају квалитетном робом/услугама наших клијената, а пре свега у јединицама локалних самоуправа на чијим територијама се и задовољавају укупне потребе свих грађана.</p>
</div>

                <div class="owl-carousel testimonials-carousel">

                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            • Унапређењем професионализације, како руководећег кадра, тако и административног, производног и оперативног.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>КАКО РАДИМО?</h3>
                        <h4></h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            • Реализацијом пројекта „Знањем до продуктивног запошљавања“, као допринос одрживом привредном свеукупном друштвеном развоју.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>→ КАКО РАДИМО?</h3>
                        <h4></h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Рад базирамо на пружању квалитетних информација, инструкција и обука (од науке, преко прописа до сигурне зоне пословања у којој се пословне обавезе решавају у пракси – брзо и лако).nt minim.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>КАКО РАДИМО?</h3>
                        <h4></h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Исходи су нам интегрисана знања из области: ● планирања ● радних односа ● зарада/плата ● финансија ● рачуноводства ● имовинских односа
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>КАКО РАДИМО?</h3>
                        <h4></h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            ● јавних набавки ● јавно-приватног партнерства ● електронског пословања (са акцентом на специфичности буџетског пословања)
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                </div>

            </div>
        </section><!-- End Ttstimonials Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Наше новине</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    </div>
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Корисни линкови</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Почетна</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">О нама</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Услуге</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Наше услуге</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Контактирајте нас</h4>
                        <p>
                            Цара Лазара 5А <br>
                            Београд<br>
                            Србија <br><br>
                            <strong>Phone:</strong> 011 3286-489<br>
                            <strong>Email:</strong>korisnickiservis@obrazovni.rs<br>
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>Лука Доганџић </h3>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Лука Доганџић</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
                Designed by Лука Доганџић</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>

</body>

</html>